<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% users.forEach(user => { %>
      <li>
        ID: <%= user.id %> Name: <%= user.firstName %> <%= user.lastName %>
        Email: <%= user.email %>
        <a href="/<%= user.id %>/update">Update</a>
        <form
          action="/<%= user.id %>/delete"
          method="post"
          style="display: inline"
        >
          <button
            type="submit"
            onclick="return confirm('Are you sure you want to delete user: <%= user.firstName %> <%= user.lastName %>')"
          >
            Delete
          </button>
        </form>
      </li>
      <% }) %>
    </ul>
    <a href="/create">Create a user!</a>
  </body>
</html>
